@import "./bootstrap/bootstrap.less";
@import "./bootstrap/tagsinput.less";
@import "./bootstrap/typeahead.less";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.acknowledge {
  position: relative;
  bottom: 10px;
}
.progress-bar-info {
  background-color: #CBE0F7;
}
.progress-bar-danger {
  background-color: #F2CAC8;
}
.progress-bar-success {
  background-color: #C5F0BB;
}
.text-default, .text-default:hover {
  color: #223344;
}
.numRight {
  position: absolute;
  right: 31px;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 0px 3px 0 3px;
}
